.container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(220,20,60);
    color: white;
    transform: translateX(0); /* Start offscreen to the right */
  transition: transform 1s ease-in-out;
  z-index: 9999;
}

.container.active {
    transform: translateX(100%); /* Slide into place */
  }

.paragraphVisible{
    opacity: 1;
    transition: all 0.5s ease-in-out;
    padding: 1%;
}

.authorVisible{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.paragraphHidden, .authorHidden{
    opacity: 0;
}

.loaderContainer{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}