.bottomImagesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Dynamic grid columns */
    grid-auto-rows: 100px; /* Each row has a uniform height */
    grid-gap: 10px; /* Space between grid items */
    grid-auto-flow: dense; /* Fill gaps with smaller items */
    padding-bottom: 10%;
}

.gridItem {
    object-fit: cover; /* Ensure the images maintain aspect ratio */
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .largeItem {
    grid-column: span 2;
    grid-row: span 2;
  }



.gridItemContainer{
    position: relative;
    width: 100%;
  height: auto; /* Adapt to the content, i.e., the image */
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
}

.gridItemContainer:hover .overlay {
    opacity: 1; /* Show on hover */
  }