.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 60vh;
}

.mobileCard{
    width: 70%;
    height: 60vh;
    border-radius: 10px;
    overflow: hidden; /* Ensure content doesn't spill outside */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 40px 6px rgba(0, 0, 0, 0.1);
  }

  .imageContainer {
    display: flex;
    flex-direction: row;
    width: 100%; /* Container's visible width */
    height: 100%; /* Adjust height to suit design */
    transition: transform 0.5s ease-in-out; /* Smooth sliding transition */
    position: relative;
  }
  
  .image {
    width: 100%; /* Each image takes the full width of the card */
    height: 100%;
    flex-shrink: 0; /* Prevent images from shrinking */
    background-size: cover;
    background-position: center;
  }

 
 .sideSelector{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    overflow-y: scroll;
 }

 .thumbNail{
    height: 100%;
    width: 100%;
    border-radius: 8px;
 }
